@import url('https://fonts.googleapis.com/css?family=Ubuntu:300&display=swap');

.cr-expo-banner {
  background: no-repeat center center;
  background-size: cover;
}

.search-tabs > li > a {
  text-align: center;
}

* {
  font-family: 'Ubuntu', sans-serif !important;
}


@media (max-width: 990px) {
  /*body {
    overflow-x: hidden;
  }*/

  #template_scroller, #template_container, #template_body {
    width: 100vw !important;
    padding: 0 !important;
  }

  #template_scroller.ad-skin {
    margin: 0 !important;
  }

  .search-title {
    margin-left: 20px;
  }

  #main_content, #sidebar {
    width: 96vw !important;
    padding: 0 2vw 0 2vw !important;
  }


  #source_showview > #container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
  }

  #source_showview > #container > #sidebar.right {
    grid-row: 1/2;
    margin-top: 20px;
  }

  #source_showview > #container > .ellipsis {
    padding-left: 2%;
  }

  #source_showview > #container > #sidebar.right > ul {

  }

  #source_showview > #container > #sidebar.right > ul > .large-margin-bottom {

  }

  #source_showview > #container > #main_content.left {
    grid-row: 2/2;
  }


  /*.large-margin-bottom {
    margin: 3vh 0 3vh 0 !important;
    width: 95vw !important;
  }*/

  .cf > .ellipsis {
    position: absolute;
    top: 1vh;
  }

  .right {
    float: left;
  }

  #tabs {
    width: 96.4vw;
  }

  #showview_content {
    width: 96.4vw;
  }

  table.comments {
    width: 96.4vw;
  }

  .comments a.guestbook-list-hidden {
    margin-left: 0;
    font-size: 1em;
  }

  .guestbook-spoiler-checkbox {
    margin: 0;
    left: 15vw;
  }

  li > .container-shadow {
    margin: 0 0.1vw 0 0.1vw;
  }

  .season > .season-dropdown {
    height: auto;
    background-position-x: 92.5vw !important;
  }

  .show-average-rating > .button {
    margin: 0 0 0 60vw;
  }

  .showmedia-header > .ellipsis {
    display: block;
    height: auto;
    width: 100vw;
    position: relative;
    padding-left: 2%;
  }

  #showmedia {
    position: relative;
    top: 1vh;
  }

  #showmedia > #main_content {
    width: 95vw;
  }

  .player-container-16-9 {
    width:  auto !important;
    height: 54vw;
  }

  .showmedia-trailer-notice {
    width: auto !important;
  }

  .wide-player-container-16-9 {
    width: 95vw !important;
    height: 30vh;
  }

  .collection-carousel, .collection-carousel-contents{
    width: 100%;
  }


  .collection-carousel-contents {
    margin: 0 !important;
  }

  #showmedia_free_trial_signup {
    position: absolute;
    top: -100vh;
    left: 0;
    width: 0 !important;
    height: 0 !important;
    z-index: -1;

    visibility: hidden;
  }

  .site-header {
    position: sticky !important;
    top: 0;
    z-index: 999;
  }

  .text-input {
    width: auto !important;
  }

  #welcome_left {
    width:  95% !important;
    border: 0;
    padding: 0 2.5% 0 2.5%;
  }


  .welcome-featured-media {
    width:  100% !important;
    margin: 0 0 8vw 0 !important;
  }

  .welcome-crnews-info {
    width: 90vw !important;
  }

  #welcome_right {
    float: left;
    width: 95%;
    padding: 0 2.5% 0 2.5%;
    margin: 20px 0 0 0;
  }

  #sidebar > h3 {
    font-size: 20px;
  }

  #welcome_right > #sidebar {
    width: 96% !important;
  }

  .add-queue-button {
    height: 20px !important;
  }

  .twitter {
    margin-right: 12px;
  }

  .guestbook-sort-bar {
    padding: 1vh 0 2vh 0 !important;
  }

  .welcome-simulcasts > .clearfix {
    margin: 1.3vh 0 1.3vh 0;
  }

  .welcome-latest-videos {
    margin-top: 2vh;
    width: auto !important;
  }

  .freetrial-note {
    left: 0 !important;
    top: 17px !important;
  }

  .large-button {
    width: 95vw;
  }

  .large-margin-bottom > div.medium-margin-bottom {
    width: max-content;
    float: left;
    margin-right: 1vw;
  }

  input.search-query {
    width: 90% !important;
  }

  .wrapper > .add-queue-button {
    left: 8%;
    top: 72%;
    width:  84% !important;
    height: 25% !important;
    background: rgb(244, 117, 33) !important;
    border-radius: 0 !important;
    display: inline-block;
    margin: 0 auto 0 auto;
  }

  .welcome-crnews-item {
    display: flex;
  }

  .welcome-crnews-mug {
    float: left !important;
  }

  .welcome-crnews-info {
    float: right !important;
  }

  .welcome-latest-videos {
    margin-top: 20px;
  }

  .welcome-latest-videos > li {
    padding: 0 3% 0 3% !important;
    width: 19%
  }

  .welcome-media-mug img  {
    margin: 0 auto 0 auto !important;
  }

  #forum_main {
    width: 96vw !important;
    margin: 0 2vw 0 2vw !important;
  }

  #forum_main > #forum_main_left {
    width: 100% !important;
    margin-top: 12px;
  }

  #forum_main_right {
    float: left !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
  }


  .topbar-nav-trail {
    margin-bottom: 25px !important;
  }

  #showforumcategory {
    width: 96vw !important;
  }

  .widget-forumnav {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .widget-forumcategory, .widget-forumcategory-header, .widget-forumcategory-display {
    width: 100% !important;
    padding: 0 !important;
  }

  .widget-forumcategory-header-title {
    padding-left: 15px;
  }

  .news-bottom-nav {
    border: none !important;
  }

  ul.topbar-nav-sub {
    height: 35px !important;
  }

  ul.topbar-nav-sub > li > a {
    position: relative;
    top: 5px;
    text-align: center;
    font-size: 1.3em !important;
    padding: 6px 10px 11px 10px !important;
  }

  .news-left, .news-right {
    width: 96vw !important;
    padding: 0 2vw 0 2vw !important;
  }

  .news-header-wrapper {
    margin: 5px 0 45px 0 !important;
    padding-bottom: 5px;
  }

  .news-top-stories, ul.news-top-stories-row {
    position: absolute;
    top: -100vh;
    left: -100vw;
    visibility: hidden !important;
    height: 0 !important;
    width: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .news {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
  }

  .news-item {
    border: 1px solid #ccc !important;
  }

  .news-twitter {
    margin-bottom: 20px !important;
  }

  #twitter-widget-20 .twitter-timeline {
    width: 100% !important;
    height: 100% !important;
  }

  .news-right > .news-twitter {
    height: 100% !important;
  }

  .news-right > .news-twitter > iframe {
    display: block !important;
    margin: 0 auto 0 auto;
  }

  .news-abbr, .news-footer-more {
    border: none !important;
  }

  .news-header2 {
    display: flex;
  }

  .byline-and-post-date {
    float: left !important;
    width: 70vw !important;
  }
  .news-share-bar {
    float: right !important;
    position: static !important;
    width: 30vw !important;
  }

  th.widget-forumcategory-display-icon {
    width: 2vw !important;
  }

  th.widget-forumcategory-display-title {
    width: auto !important;
  }

  th.widget-forumcategory-display-replies {
    width: 8vw !important;
  }

  th.widget-forumcategory-display-starter {
    width: 15vw !important;
  }

  th.widget-forumcategory-display-lastaction {
    width: 15vw !important;
  }

  .news-left > .news-header-wrapper > .news-tip {
    font-size: 1.01em;
  }

  .news-left > .news > .news-item-pegged > .body > .short > p{
    font-size: 0.9em;
  }

  #template_titlebar > #template_action_button {
    width: 100%;
    position: relative;
    top: 45px;
  }

  #template_titlebar > #template_action_button > #search_form_channel {
    float: none;
    margin-left: 1.5%;
  }

  #template_titlebar > #template_action_button > #search_form_channel.search-form-channel > input {
    width: 50vw;
  }

  #template_titlebar > #template_action_button > #search_form_channel.search-form-channel > p {
    left: 50vw !important;
  }

  #template_titlebar > #template_action_button > a[href^='/newpoll?fcid=new'] {
    width: 17vw;
    text-align: center;
  }

  #template_titlebar > #template_action_button > a[href^='/newforumtopic'] {
    width: 17vw;
    text-align: center;
  }

  .showcrunchynews > .showcrunchynews_article > article > .body {
    margin: 0 !important;
  }

  .showcrunchynews > .showcrunchynews_article > article > .body > .contents > p > span > img {
    width: 45vw !important;
    height: auto !important;
    display: block;
    margin: 0 auto 0 auto !important;
  }

  .showcrunchynews > .showcrunchynews_article > article > .body > .contents > p > iframe {
    width: 45vw !important;
    display: block;
    margin: 0 auto 0 auto !important;
  }

  #guestbook_commentform > #add_comment > .contents > .widget-form-td > textarea {
    width: 97% !important;
    padding: 1% 1% 0 1% !important;
  }

  #guestbook_commentform > #add_comment > .contents > .bottom {
    margin: 0 1% 0 0 !important;
  }

  #showforumcategory > .widget-forumnav > div ~ div {
    display: inline-block !important;
    margin: 0 auto 0 auto;
  }

  .footer-categories-container > .footer-column {
    height: 46vh !important;
  }

  #footer_menu > #social_media {
    float: left;
  }

  #source_browse > #tabs {
    width: 100vw !important;
  }

  #source_browse > #container > #main_content > .portrait-grid {
    width: 100%;
    height: auto;
    margin: 0 !important;
    position: initial !important;
  }

  #source_browse > #container > #main_content > .portrait-grid > li > div {
    content: '';
    display: table;
    clear: both;
    height: 100% !important;
  }

  #source_browse > #container > #main_content > .portrait-grid > li > div > .portrait-element {
    margin: 0 !important;
  }

  #source_browse > #container > #main_content > .portrait-grid > .hover-bubble {
    margin: 0 !important;
    padding: 0 0.275vw 10px 0.275vw !important;
  }

  #showforumtopic, #showforumtopic {
    width: 100vw !important;
    padding: 0 !important;
  }

  #showforumtopic, #showforumtopic > .showforumtopic-header {
    width: 100vw !important;
    padding: 0;
  }

  #showforumtopic > .showforumtopic-header > p {
    padding-left: 10px !important;
  }

  .showforumtopic-messages > tbody > tr > .showforumtopic-message-contents > div {
    width: 95vw !important;
  }

  .showforumtopic-messages > tbody > tr > .showforumtopic-message-user > div, .showforumtopic-messages > tbody > tr > .showforumtopic-message-user > a img{
    width: 5vw !important;
  }


}

@media (max-width: 989px) {
  #source_browse > #container > #main_content > .portrait-grid > .hover-bubble {
    padding: 0 1.5vw 10px 1.5vw !important;
  }

  #source_browse > #container > #main_content > .portrait-grid > .hover-bubble > .hover-toggle-queue > .portrait-element, #source_browse > #container > #main_content > .portrait-grid > .hover-bubble > .hover-toggle-queue > .portrait-element > .img-holder > .portrait {
    width: 13vw !important;
  }
}

@media (max-width: 798px) {
  #source_browse > #container > #main_content > .portrait-grid > .hover-bubble {
    padding: 0 1.85vw 10px 1.85vw !important;
  }

  #source_browse > #container > #main_content > .portrait-grid > .hover-bubble > .hover-toggle-queue > .portrait-element, #source_browse > #container > #main_content > .portrait-grid > .hover-bubble > .hover-toggle-queue > .portrait-element > .img-holder > .portrait {
    width: 17vw !important;
  }

  #source_browse > #container > #main_content > .portrait-grid > .hover-bubble > .hover-toggle-queue > .portrait-element > .img-holder > .portrait {
    height: auto !important;
  }
}

@media (max-width: 775px) {
  .welcome-latest-videos > li {
    padding: 0 3% 0 3% !important;
    width: 27.3%
  }
}

@media (max-width: 798px) {
  #source_browse > #container > #main_content > .portrait-grid > .hover-bubble {
    padding: 0 1.15vw 10px 1.15vw !important;
  }
}


@media (max-width: 767px) {
  #header_menubar_beta {
    position: absolute;
    top: 0;
    left: -30vw;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 30vw;
    background: white;
    z-index: 1000;
  }

  .showcrunchynews > .showcrunchynews_article > article > .body > .contents > p > span > img, .showcrunchynews > .showcrunchynews_article > article > .body > .contents > p > iframe {
    width: 70vw !important;
  }
}

@media (max-width: 576px) {
  #template_titlebar > #template_action_button > #search_form_channel.search-form-channel > input {
    width: 43vw;
  }

  #template_titlebar > #template_action_button > #search_form_channel.search-form-channel > p {
    left: 43vw !important;
  }

  #template_titlebar > #template_action_button > a[href^='/newpoll?fcid=new'] {
    width: 22vw;
    text-align: center;
  }

  #template_titlebar > #template_action_button > a[href^='/newforumtopic'] {
    width: 21vw;
    text-align: center;
  }
}

@media (max-width: 532px) {
  #source_browse > #container > #main_content > .portrait-grid > .hover-bubble {
    padding: 0 1vw 10px 1vw !important;
  }

  #source_browse > #container > #main_content > .portrait-grid > .hover-bubble > .hover-toggle-queue > .portrait-element, #source_browse > #container > #main_content > .portrait-grid > .hover-bubble > .hover-toggle-queue > .portrait-element > .img-holder > .portrait {
    width: 25vw !important;
  }
}

@media (max-width: 552px) {
    .news-share-bar {
    width: 50vw !important;
  }

  .byline-and-post-date {
    width: 50vw !important;
  }
}

@media (max-width: 623px) {
  .welcome-latest-videos > li {
    padding: 0 3% 0 3% !important;
    width: 44%
  }
}

@media (max-width: 520px) {
  #header_menubar_beta {
    width: 45vw !important;
    left: -45vw !important;
  }

  .footer-categories-container > .footer-column {
    width: 20% !important;
    height: 42vh !important;
  }

  #template_container > #template_body > .showcrunchynews > #slidebox {
    position: absolute;
    z-index: -100;
    top: -100vh;
    left: -100vw;
  }

}

@media (max-width: 498px) {
  #source_browse > #container > #main_content > .portrait-grid > .hover-bubble {
    padding: 0 0.5vw 10px 0.5vw !important;
  }

  #source_browse > #container > #main_content > .portrait-grid > .hover-bubble > .hover-toggle-queue > .portrait-element, #source_browse > #container > #main_content > .portrait-grid > .hover-bubble > .hover-toggle-queue > .portrait-element > .img-holder > .portrait {
    width: 25vw !important;
  }
}

@media (max-width: 438px) {
  .season > .season-dropdown {
    height: auto;
    background-position-x: 90vw !important;
  }

  .welcome-crnews-item {
    padding-right: 2vw;
  }

  .welcome-crnews-readmore {
    padding-right: 2vw;
  }

  #welcome_left, #welcome_right {
    width: 90% !important;
    padding: 0 5% 0 5%;
  }


  #header_menubar_beta {
    width: 70vw !important;
    left: -70vw !important;
  }

  th.widget-forumcategory-display-icon {
    width: 0 !important;
  }

  th.widget-forumcategory-display-title {
    width: auto !important;
  }

  th.widget-forumcategory-display-replies {
    width: 10vw !important;
  }

  th.widget-forumcategory-display-starter {
    width: 15vw !important;
  }

  th.widget-forumcategory-display-lastaction {
    width: 15vw !important;
  }
}

@media (max-width: 412px) {
  #source_browse > #container > #main_content > .portrait-grid > .hover-bubble {
    padding: 0 0.7vw 10px 0.7vw !important;
  }

  #source_browse > #container > #main_content > .portrait-grid > .hover-bubble > .hover-toggle-queue > .portrait-element, #source_browse > #container > #main_content > .portrait-grid > .hover-bubble > .hover-toggle-queue > .portrait-element > .img-holder > .portrait {
    width: 40vw !important;
  }
}

@media (max-width: 409px) {
  .welcome-latest-videos > li {
    padding: 0 3% 0 3% !important;
    width: 95%
  }
}

@media (max-width: 375px) {
  #source_browse > #container > #main_content > .portrait-grid > .hover-bubble {
    padding: 0 0.7vw 10px 0.7vw !important;
  }

  #source_browse > #container > #main_content > .portrait-grid > .hover-bubble > .hover-toggle-queue > .portrait-element, #source_browse > #container > #main_content > .portrait-grid > .hover-bubble > .hover-toggle-queue > .portrait-element > .img-holder > .portrait {
    width: 37vw !important;
  }
}

@media (max-width: 367px) {
  .footer-categories-container > .footer-column {
    width: 25% !important;
  }

  #social_media > .footer-column {
    padding: 0 7px !important;
  }
}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

.queue-sortable .queue-item .anchor-to-episode {
  flex-direction: column;
  align-items: baseline !important;
}

.queue-item-wrapper .container-thumb-progress {
  margin-bottom: 40px;
}

.queue-item-wrapper .episode-progress-bar {
  width: 224px;
}

#marketing_banner {
  display: none;
}

.queue-sortable .queue-item .anchor-to-episode {
  max-width: 250px;
}

.queue-item-wrapper .series-info {
  width: 100%;
}
